/FirstClass1/nbproject/private/
/FirstClass1/build/
/CircleArea/nbproject/private/
/CircleArea/build/
/NameShow/nbproject/private/
/NameShow/build/
/CountingSecondMinute/nbproject/private/
/CountingSecondMinute/build/
/AugmentedAssignmentOperator/nbproject/private/
/AugmentedAssignmentOperator/build/
/PracticeJava/nbproject/private/
/PracticeJava/build/
/IfElse/nbproject/private/
/IfElse/build/
/NamePassLoginUsingIfElse/nbproject/private/
/NestedIfElse/nbproject/private/
/NamePassLoginUsingIfElse/build/
/NestedIfElse/build/
