/FirstClass1/nbproject/private/
/FirstClass1/build/
/CircleArea/nbproject/private/
/CircleArea/build/
/NameShow/nbproject/private/
/NameShow/build/
/CountingSecondMinute/nbproject/private/
/CountingSecondMinute/build/
